.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.grid-wrapper {
  display: flex;
  align-self: stretch;
  align-items: center;
  margin: 0 15px;
}

.grid {
  user-select: none;
  margin: 10px auto;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  /* grid-gap: 10px; */
  /* grid-auto-flow: dense; */
  /* aspect-ratio: 1 / 1; */
  min-height: 200px;
  /* max-height: 80vh; */
  min-width: 200px;
  flex-grow: 1;
  max-width: 80vh;
  /* height: clamp(200px, 40vh, fit-content); */
  /* align-self: stretch; */
  background-color: purple;
}

@keyframes endAnimation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.grid.animate {
  background-image: linear-gradient(to right, orange 50%, transparent 50%);
  background-position: 0% 50%;
  background-size: 200% 200%;
  animation: 2s ease-out endAnimation;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: black;
  border: solid 1px #fff;

  aspect-ratio: 1 / 1;
  min-height: 20px;
  transition: background-color 0.2s linear;
}

.box:is(.wall, .empty) {
  cursor: pointer;
}

.box.wall {
  background-color: blue;
}
.box.start {
  background-color: green;
}
.box.end {
  background-color: red;
}
.box.visited {
  background-color: purple;
}
.box.checking {
  background-color: brown;
}
.box.currentPath {
  background-image: linear-gradient(to right, darkblue 100%, transparent);
}
.box.currentPath.path {
  background-color: transparent;
  background-image: none;
}
.box.path {
  background-color: transparent;
}

.box.legend-item {
  aspect-ratio: 1 / 1;
  min-height: 75px;
  max-height: calc(80vh / 10);
  min-width: 75px;
  max-width: calc(80vh / 10);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  /* overflow: scroll; */
  padding: 5px;
  /* make font smaller if doesnt fit */
  font-size: 1em;
}

.legend {
  display: flex;
  justify-content: center;
  /* width: fit; */
  gap: 10px;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
  padding-bottom: 100px;
  /* flex-basis: 50%; */
}

.legend .path {
  background-color: orange;
}

code {
  padding: 0 5px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 50px;
  position: absolute;
  bottom: 25px;
  text-align: center;
  /* footer should be at bottom  without margin */
}

span.check-box-span {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 2px;

  /* border to indicate the label and input belond to each other, use a color that isnt hard on the eyes for a dark theme */
  border: 1px solid rgba(0, 0, 0, 0.5);
}

span.check-box-span label {
  user-select: none;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */

  footer {
    bottom: 75px;
  }

  .legend {
    padding-bottom: 150px;
  }
}
